.footer-container {
  position: relative;
  width: 100%;
  margin-top: 300px; 
  background: transparent;
  cursor: pointer;
}


.hover-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-1%, 25%) scale(0.4); 
  opacity: 0;
  transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
  display: flex;
  align-items: flex-end;
  gap: 20px;
  pointer-events: none; 
  z-index: -1; 
}

/* .download-text {
  font-family: 'YourCustomFont', sans-serif;
  color: #AD335A;
  font-size: 3.5rem;
  margin-bottom: 50px;
  line-height: 1;
} */

.phone-mockup {
  width: 400px;
  top: 200px;
  /* margin-top: 150px; */
  /* filter: drop-shadow(0 20px 40px rgba(0,0,0,0.2)); */
}


.footer-container:hover .hover-content {
  opacity: 1;
  z-index: -2;
  margin-left: 80px;
  transform: translate(-1%, -25%) scale(1); 
}


.footer-main {
    width: 100%;
  /* position: relative;
  z-index: 5; */

  background-image: url('../assets/bgfooter.png'); /* Your wave image */
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 80px 10% 40px;
  color: white; */

  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;
    gap: 20%;

}

.footer-top-row {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
    margin-top: 200px;

}

.footerlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;

    margin-top: 200px;


}


.col_footer{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;


}

.ww{
    color: #FFF;
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.www{
    color: #FFF;
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.footer_col{
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* gap: 20px; */
}

.footer_col2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* gap: 20px; */
}

.wf1{
       color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.3rem */
}

.wf2{
       color: #FFF;
font-family: Poppins;
font-size: 0.75rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.3rem */
}

.mmf2{
     color: #ffffff;
font-family: Aclonica;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 2.4rem */
margin: 0px;
}

.ph{
    margin-top: 100px;
}

.logofooter{
    margin: 20px;
}

.footer-brand{
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 10px; */

    margin-top: 120px;

}

.social-icons{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.footer-logo { width: 120px; margin-bottom: 20px; }

/* Layout and Links Styling */
/* .footer-brand { flex: 1.5; }
.social-icons { display: flex; gap: 15px; font-size: 1.5rem; margin-bottom: 20px; }
.footer-links { flex: 3; display: flex; justify-content: space-between; }
.link-group h4 { margin-bottom: 15px; font-size: 1.1rem; }
.link-group ul { list-style: none; padding: 0; }
.link-group li { margin-bottom: 8px; opacity: 0.8; font-size: 0.9rem; cursor: pointer; }
.link-group li:hover { opacity: 1; } */



@media screen and (max-width: 900px) {

    .footer-main{
        width: 100%;
        /* margin-top: 500px; */
        flex-direction: column;

        height: 800px;
        gap: 5%;
    }

    .col_footer{
        flex-direction: row;
    }

    .footer_top_row{
        flex-direction: column;
    }

    .footerlinks{
        width: 100%;
        margin-top: 0px;
    }

    .footer-brand{
        margin-top: 30px;
    }
    .phone-mockup{
        display: none;
    }



}